/* Milestone 1
Sfruttando gli screen e gli asset in allegato riproduciamo la grafica proposta in maniera statica: utilizzando soltanto HTML e CSS e riproducendo una singola fotografia (usiamo una qualunque immagine a piacimento) 


Bonus
rendi la pagina responsive, in modo che su mobile e tablet le foto si dispongano man mano una sotto l’altra ed il titolo abbia una dimensione adeguata */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-oliva: #92c952;
  --bg-color-purple: #771796;
  --bg-color-lime: #24f355;
  --bg-color-fuchsia: #d32776;
  --bg-color-pink: #f66b97;
  --bg-color-blu-water: #56a8c2;
}

header {
  height: 150px;
  background-image: url(./../img/wall.png);

  .title {
    padding: 30px 0px 30px;
    h1 {
      font-family: "Edu TAS Beginner", sans-serif;
      font-size: 70px;
      text-align: center;
    }
  }
}

main {
  background-image: url(./../img/cork.png);
  min-height: 1200px;
  .container {
    padding: 30px 0px 30px;

    .row {
      padding: 30px 0px 30px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .container_pin {
      display: flex;
      justify-content: center;
      margin: -1rem;
      .pin {
        height: 50px;
        width: 50px;
        background: #55220b;
        background: radial-gradient(
          circle,
          rgb(234, 69, 54) 0%,
          rgb(245, 19, 19) 50%,
          rgba(0, 0, 0, 1) 100%
        );
        border-radius: 50%;
      }
    }

    .col {
      position: relative;
    }

    .card {
      max-height: 600px;
      max-width: 500px;
      background-color: white;
      padding: 30px 30px 0px 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .card_up {
        img {
          width: 100%;
        }
      }
      .card_down {
        font-family: "Edu TAS Beginner", sans-serif;
        padding: 20px 0px 20px 0px;
        p {
          padding: 10px 0px 10px 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  main {
    .container {
      margin: 0 auto;
      width: 100%;
      .row {
        padding: 50px;
        .col {
          padding: 20px;
          width: calc(100% / 12 * 12);
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  main {
    .container {
      margin: 0 auto;
      width: 540px;
      .row {
        padding: 50px;
        .col {
          padding: 20px;
          width: calc(100% / 12 * 12);
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  main {
    .container {
      width: 960px;
      .row {
        .col {
          padding: 20px;
          width: calc(100% / 12 * 6);
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    .container {
      width: 1200px;
      .row {
        padding: 50px;
        .col {
          padding: 20px;
          width: calc(100% / 12 * 4);
        }
      }
    }
  }
}
